.section-container .home-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .section-container .home-container .subsection .section-subcontainer {
    margin: 0.8em 0; 
  }
  
  .section-container .home-container .subsection:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    min-height: 420px;
    margin-right: 12px;
    justify-content: space-around;
    min-width: 340px;
    max-width: 500px;
  }
  
  .section-container .home-container .subsection h1 {
    font-size: 3em;
    font-weight: 700;
  }
  
  .section-container .home-container .subsection p {
    font-size: 1.2em;
    font-weight: 500;
  }
  
  .section-container .home-container .subsection .section-subcontainer:nth-of-type(3) {
    display: flex;
    justify-content: center;
  }
  
  .section-container .home-container .subsection button {
    font-size: 1.1em;
    font-weight: 500;
    padding: 10px 24px;
    border-radius: 10px;
    background-color: #12CDF5;
    color: #FFFCFC;
    cursor: pointer;
  }
  
  .section-container .home-container .subsection:nth-of-type(2) {
    display: flex;
    justify-content: center;
  }
  
  .section-container .home-container .subsection img {
    width: 90%;
    min-width: 400px;
  }
.footer-container {
    padding: 2em 0;
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
  }
  .footer-container .footer-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
    justify-content: space-between;
  }

  /* Catalogue */

.section-container .catalogue-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}
.section-container .catalogue-container .subsection:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;
  margin-bottom: 20px;
}
.section-container .catalogue-container .subsection:nth-of-type(1) h2 {
  font-size: 2.2em;
  font-weight: 600;
}
.section-container .catalogue-container .subsection:nth-of-type(1) a {
  font-weight: 600;
}
.section-container .catalogue-container #jerseys-container {
  display: flex;
  justify-content: center;
}
.section-container .catalogue-container .jerseys-carrousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 10px);
  gap: 16px;
  width: 95%;
}
.section-container .catalogue-container .jersey-card {
  background-color: #F5F5F5;
}
.section-container .catalogue-container .jersey-card .jersey-image-container {
  height: 360px;
  display: flex;
  justify-content: center;
  background-color: #D9D9D9;
  position: relative;
}
.section-container .catalogue-container .jersey-card .jersey-image-container img{
  width: 75%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.section-container .catalogue-container .jersey-card .jersey-image-container span {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.section-container .catalogue-container .jersey-card .jersey-description {
  background-color: #F5F5F5;
  text-align: center;
  padding: .85em;
  font-weight: 500;
}
.section-container .catalogue-container .jersey-card .jersey-description p {
  margin: 2px 0;
}
.section-container .designing-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.section-container .designing-container .subsection:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  min-height: 340px;
  margin-left: 12px;
  justify-content: space-around;
  min-width: 340px;
  max-width: 500px;
}

.section-container .designing-container .subsection h1 {
  font-size: 3em;
  font-weight: 700;
}

.section-container .designing-container .subsection p {
  font-size: 1.0em;
  font-weight: 400;
}

.section-container .designing-container .subsection .section-subcontainer:nth-of-type(3) {
  display: flex;
  justify-content: center;
}

.section-container .designing-container .subsection button {
  font-size: 1.1em;
  font-weight: 500;
  padding: 10px 24px;
  border-radius: 10px;
  background-color: #12CDF5;
  color: #FFFCFC;
  cursor: pointer;
}

.section-container .designing-container .subsection:nth-of-type(1) {
  display: flex;
  justify-content: center;
}

.section-container .designing-container .subsection img {
  width: 90%;
  min-width: 400px;
}
.section-container .about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.section-container .about-container h1 {
  font-size: 2.8em;
  font-weight: 700;
  margin-bottom: .5em;
}

.section-container .about-container h3 {
  font-size: 1.05em;
  font-weight: 500;
}

.section-container .about-container .about-description-container {
  width: 60%;
}

.section-container .about-container .about-image-container {
  width: 50%;
}
.section-container .about-container .about-image-container img {
  width: 100%;
}