.section-container .home-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .section-container .home-container .subsection .section-subcontainer {
    margin: 0.8em 0; 
  }
  
  .section-container .home-container .subsection:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    min-height: 420px;
    margin-right: 12px;
    justify-content: space-around;
    min-width: 340px;
    max-width: 500px;
  }
  
  .section-container .home-container .subsection h1 {
    font-size: 3em;
    font-weight: 700;
  }
  
  .section-container .home-container .subsection p {
    font-size: 1.2em;
    font-weight: 500;
  }
  
  .section-container .home-container .subsection .section-subcontainer:nth-of-type(3) {
    display: flex;
    justify-content: center;
  }
  
  .section-container .home-container .subsection button {
    font-size: 1.1em;
    font-weight: 500;
    padding: 10px 24px;
    border-radius: 10px;
    background-color: #12CDF5;
    color: #FFFCFC;
    cursor: pointer;
  }
  
  .section-container .home-container .subsection:nth-of-type(2) {
    display: flex;
    justify-content: center;
  }
  
  .section-container .home-container .subsection img {
    width: 90%;
    min-width: 400px;
  }
.footer-container {
    padding: 2em 0;
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
  }
  .footer-container .footer-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
    justify-content: space-between;
  }